<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="assets/images/favicon/1.png" type="image/x-icon">
    <link rel="shortcut icon" href="assets/images/favicon/1.png" type="image/x-icon">
    <title>SISDTE-CEL | Factura </title>
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,900" rel="stylesheet">


    <style type="text/css">
        body {
            text-align: center;
            margin: 0 auto;
            max-width: 950px;
            font-family: 'Open Sans', sans-serif;
            background-color: #e2e2e2;
            display: block;
        }

        ul {
            margin: 0;
            padding: 0;
        }

        li {
            display: inline-block;
            text-decoration: unset;
        }

        a {
            text-decoration: none;
        }

        p {
            margin: 15px 0;
        }

        h5 {
            color: #444;
            text-align: left;
            font-weight: 400;
        }

p.tamanio_01{
  font-size:1.8em;
  line-height:1.2em;
}

p.tamanio_02{
  font-size:1.5em;
  line-height:1.5em;
}

p.tamanio_03{
  font-size:0.85em;
  line-height:1.3em;
}



        .text-center {
            text-align: center
        }

        .main-bg-light {
            background-color: #fafafa;
        }

        .title {
            color: #444444;
            font-size: 22px;
            font-weight: bold;
            margin-top: 10px;
            margin-bottom: 10px;
            padding-bottom: 0;
            text-transform: uppercase;
            display: inline-block;
            line-height: 1;
        }

        table {
            margin-top: 10px
        }

		.headt td {
		  height: 10px;
		}

        table.top-0 {
            margin-top: 0;
        }

        table.order-detail {
            border: 1px solid #ddd;
            border-collapse: collapse;
        }

        table.order-detail tr:nth-child(even) {
            border-top: 1px solid #ddd;
            border-bottom: 1px solid #ddd;
        }

        table.order-detail tr:nth-child(odd) {
            border-bottom: 1px solid #ddd;
        }

        .pad-left-right-space {
            border: unset !important;
        }

        .pad-left-right-space td {
            padding: 5px 15px;
        }

        .pad-left-right-space td p {
            margin: 0;
        }

        .pad-left-right-space td b {
            font-size: 15px;
            font-family: 'Roboto', sans-serif;
        }

        .order-detail th {
            font-size: 16px;
            padding: 15px;
            text-align: center;
            background: #fafafa;
        }

        .footer-social-icon tr td img {
            margin-left: 5px;
            margin-right: 5px;
        }
    </style>
</head>

<body style="margin: 20px auto;">
    <table border="0" cellpadding="0" cellspacing="0"
        style="padding: 0 30px;background-color: #fff; -webkit-box-shadow: 0px 0px 14px -4px rgba(0, 0, 0, 0.2705882353);box-shadow: 0px 0px 14px -4px rgba(0, 0, 0, 0.2705882353);width: 100%;">
        <tbody>
            <tr>
                <td>
              <table align="center" border="0" cellpadding="0" cellspacing="0" style="width: 100%;">

                        <tr>
                            <td rowspan="2" style="width: 20%; text-align: center;">
							<img src="{{url}}assets/images/email-temp/logo-text.png" alt="" style=" max-width: 150px ; max-height: 100px; ">
                            </td>
                            <td style="text-align: center; font-weight: bold;">DOCUMENTO TROBUTARIO ELECTRÓNICO</td>
                            <td rowspan="2" style="width: 20%; text-align: center;">1.0</td>
                        </tr>
                        <tr>
                            <td style="text-align: center; font-weight: bold;">COMPROANTE DE CRÉDITO FISCAL</td>
                        </tr>

                  </table>

<table cellpadding="0" cellspacing="0" border="0" style="width: 100%;margin-top: 5px; margin-bottom: 5px;">
                                <tbody>
                                    <tr>
                              <td align="left" style="background-color: #fafafa; border: 1px solid #ddd; padding: 15px; letter-spacing: 0.3px; width: 40%; font-size: small;">
							  <p class="tamanio_03"><strong>Código de Generación:</strong><br>
                                {{identificacion.codigoGeneracion}}<br>
  <strong>Número de Control:</strong><br>
                                {{identificacion.numeroControl}}<br>
  <strong>Sello de Recepción:</strong><br>
                                789</p>
								</td>
                                    <td style="width: 20%; text-align: center;">
                                  	  <img src="{{url}}assets/images/email-temp/{{codigo_qr}}" alt="" style=" max-width: 150px ; max-height: 100px; ">
                                   	  </td>
                                    <td align="left" style="background-color: #fafafa;border: 1px solid #ddd;padding: 15px;letter-spacing: 0.3px; width: 40%; font-size: small;">
                                             <p class="tamanio_03"><b>Modelo de Facturación:</b><br>
                                            123<br>
                                            <b>Tipo de Transmisión:</b><br>
                                            456<br>
                                            <b>Fecha y hora de Generación:</b><br>
                                            {{identificacion.fecEmi}}  {{identificacion.horEmi}}</p>

                                    </td>
                                </tr>
                            </tbody>
                        </table>

<table cellpadding="0" cellspacing="0" border="0" style="width: 100%; margin-top: 10px; margin-bottom: 10px;">
                                <tbody>
                                    <tr>
                              <td style="background-color: #fafafa;border: 1px solid #ddd;padding: 15px;letter-spacing: 0.3px;width: 40%;">
                                <h5 style="font-size: 16px; font-weight: 600;color: #000; line-height: 16px; padding-bottom: 13px; border-bottom: 1px solid #e6e8eb; letter-spacing: -0.65px; margin-top:0; margin-bottom: 13px;">EMISOR:</h5>
                                        <table align="center" border="0" cellpadding="0" cellspacing="0" style="width: 100%;" >
                                          <tr>
                                            <td>&nbsp;</td>
                                          </tr>
                                          <tr>
                                            <td>&nbsp;</td>
                                          </tr>
                                          <tr>
                                            <td>&nbsp;</td>
                                          </tr>
                                          <tr>
                                            <td>&nbsp;</td>
                                          </tr>
                                          <tr>
                                            <td>&nbsp;</td>
                                          </tr>
                                          <tr>
                                            <td>&nbsp;</td>
                                          </tr>
                                          <tr>
                                            <td>&nbsp;</td>
                                          </tr>
                                          <tr>
                                            <td>&nbsp;</td>
                                          </tr>
                                          <tr>
                                            <td>&nbsp;</td>
                                          </tr>                                                                                                                              
                                        </table>
                                    <td style="width: 20%><img src="http://localhost:3003/static/assets/images/email-temp/logo_space.jpg" alt=" " height="25" width="30"></td>
                                    <td style="background-color: #fafafa;border: 1px solid #ddd;padding: 15px;letter-spacing: 0.3px;width: 40%;">
                                        <h5 style="font-size: 16px;font-weight: 600;color: #000; line-height: 16px; padding-bottom: 13px; border-bottom: 1px solid #e6e8eb; letter-spacing: -0.65px; margin-top:0; margin-bottom: 13px;">RECEPTOR:</h5>
                                        <table align="center" border="0" cellpadding="0" cellspacing="0" style="width: 100%;" >
                                          <tr>
                                            <td>&nbsp;</td>
                                          </tr>
                                          <tr>
                                            <td>&nbsp;</td>
                                          </tr>
                                          <tr>
                                            <td>&nbsp;</td>
                                          </tr>
                                          <tr>
                                            <td>&nbsp;</td>
                                          </tr>
                                          <tr>
                                            <td>&nbsp;</td>
                                          </tr>
                                          <tr>
                                            <td>&nbsp;</td>
                                          </tr>
                                          <tr>
                                            <td>&nbsp;</td>
                                          </tr>
                                          <tr>
                                            <td>&nbsp;</td>
                                          </tr>
                                          <tr>
                                            <td>&nbsp;</td>
                                          </tr>                                                                                                                              
                                        </table>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        
                    <table border="0" cellpadding="0" cellspacing="0" "
                        width="100%">

                        <tr>
                            <td>
                                <p style="font-size: 14px;"><b>Hi John Doe,</b></p>
                                <p style="font-size: 14px;">Order Is Successfully Processsed And Your Order Is On The
                                    Way,</p>
                                <p style="font-size: 14px;">Transaction ID : 267676GHERT105467,</p>
                            </td>
                        </tr>
                    </table>                        
                        
                        
<table class="order-detail" border="0" cellpadding="0" cellspacing="0" 
                        style="width: 100%;    margin-bottom: 50px;">
            <tr align="left">
                            <th>CANTIDAD</th>
                            <th style="padding-left: 15px;">DESCIPCIÓN</th>
                            <th>V.EXENTAS</th>
                            <th>V.AFECTAS </th>
          </tr>
                        <tr>
                            <td style="padding-left: 15px;">
                                <h5 style="font-size: 14px; color:#444;margin-top: 10px;">1</h5>
                            </td>
                            <td valign="top" style="padding-left: 15px;">
                                <h5 style="margin-top: 15px;">Three seater Wood Style sofa for Leavingroom </h5>
                            </td>
                            <td valign="top" style="padding-left: 15px;">
                                <h5 style="font-size: 14px; color:#444;margin-top:15px"><b>$0</b></h5>
                            </td>
                            <td valign="top" style="padding-left: 15px;">
                                <h5 style="font-size: 14px; color:#444;margin-top:15px"><b>$500</b></h5>
                            </td>
                        </tr>
                        <tr>
                            <td style="padding-left: 15px;">
                                <h5 style="font-size: 14px; color:#444;margin-top: 10px;">1</h5>
                            </td>
                            <td valign="top" style="padding-left: 15px;">
                                <h5 style="margin-top: 15px;">Three seater Wood Style sofa for Leavingroom </h5>
                            </td>
                            <td valign="top" style="padding-left: 15px;">
                                <h5 style="font-size: 14px; color:#444;margin-top:15px"><b>$0</b></h5>
                            </td>
                            <td valign="top" style="padding-left: 15px;">
                                <h5 style="font-size: 14px; color:#444;margin-top:15px"><b>$500</b></h5>
                            </td>
                        </tr>
                        <tr>
                            <td style="padding-left: 15px;">
                                <h5 style="font-size: 14px; color:#444;margin-top: 10px;">1</h5>
                            </td>
                            <td valign="top" style="padding-left: 15px;">
                                <h5 style="margin-top: 15px;">Three seater Wood Style sofa for Leavingroom </h5>
                            </td>
                            <td valign="top" style="padding-left: 15px;">
                                <h5 style="font-size: 14px; color:#444;margin-top:15px"><b>$0</b></h5>
                            </td>
                            <td valign="top" style="padding-left: 15px;">
                                <h5 style="font-size: 14px; color:#444;margin-top:15px"><b>$500</b></h5>
                            </td>
                        </tr>
                        <tr class="pad-left-right-space ">
                            <td class="m-t-5" colspan="2" align="left">
                                <p style="font-size: 14px;">Subtotal : </p>
                            </td>
                            <td class="m-t-5" colspan="2" align="right">
                                <b style>$2000</b>
                            </td>
                        <tr class="pad-left-right-space">
                            <td colspan="2" align="left">
                                <p style="font-size: 14px;">TAX :</p>
                            </td>
                            <td colspan="2" align="right">
                                <b>$5</b>
                            </td>
                        </tr>
                        <tr class="pad-left-right-space">
                            <td colspan="2" align="left">
                                <p style="font-size: 14px;">VAT :</p>
                            </td>
                            <td colspan="2" align="right">
                                <b>$5</b>
                            </td>
                        </tr>
                        <tr class="pad-left-right-space">
                            <td colspan="2" align="left">
                                <p style="font-size: 14px;">SHIPPING Charge :</p>
                            </td>
                            <td colspan="2" align="right">
                                <b>$2</b>
                            </td>
                        </tr>
                        <tr class="pad-left-right-space">
                            <td colspan="2" align="left">
                                <p style="font-size: 14px;">Discount :</p>
                            </td>
                            <td colspan="2" align="right">
                                <b> $1000</b>

                            </td>
                        </tr>
                        <tr class="pad-left-right-space ">
                            <td class="m-b-5" colspan="2" align="left">
                                <p style="font-size: 14px;">Total :</p>
                            </td>
                            <td class="m-b-5" colspan="2" align="right">
                                <b>$2600</b>
                            </td>
                        </tr>

                  </table>

                    <table border="0" cellpadding="0" cellspacing="0" "
                        width="100%">

                        <tr>
                            <td>
                                <p style="font-size: 14px;"><b>Hi John Doe,</b></p>
                                <p style="font-size: 14px;">Order Is Successfully Processsed And Your Order Is On The
                                    Way,</p>
                                <p style="font-size: 14px;">Transaction ID : 267676GHERT105467,</p>
                            </td>
                        </tr>
                    </table>
                    

                </td>
            </tr>
        </tbody>
    </table>
    <table class="main-bg-light text-center top-0" align="center" border="0" cellpadding="0" cellspacing="0"
        width="100%">
        <tr>
            <td style="padding: 0 30px 30px 30px;">
                <div style="border-top: 1px solid #ddd; margin: 20px auto 0;"></div>
                <table border="0" cellpadding="0" cellspacing="0" width="100%" style="margin: 20px auto 0;">
                    <tr>
                        <td>
                            <a href="#" style="font-size:13px">Want to change how you receive these emails?</a>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p style="font-size:13px; margin:0;">2023 - 19 Copy Right by Comisión Ejecutiva
                                Hidroeléctrica del Rio Lempa</p>
                        </td>
                    </tr>

                </table>
            </td>
        </tr>
    </table>
</body>

</html>